@page "/fit"

<h1>Fit List</h1>

<div>
<label>Limit</label>
<input type="number" min="1" max="@strings.Length" value="5" @onchange="SetLimit" />
</div>

<ul>
@foreach (var str in strings.Take(limit))
{
    <li>@str</li>

}
</ul>

@code {
    string[] strings = {
        "x", "y", "z", "a", "b", "c", "d"
    };

    int limit = 5;

    private void SetLimit(ChangeEventArgs e)
    {
        limit = Convert.ToInt32(e.Value);
    }
}