@page "/fitnesslist"

<h1>Fitness Content List</h1>

<button @onclick="PopulateArray">Populate List</button>

@foreach (string item in displayedItems)
{
    <p>@item</p>


}
<input type="number" min="0" max="5" value="5" @oninput="updateDisplayedItems" />


@code {
    private string[] allItems = new string[5] {"Sit Ups", "Squats", "Lunges", "Planks", "Jumping Jacks"};
    private string[] displayedItems = new string[5];
    private int numDisplayedItems = 5;

    private void PopulateArray()
    {
        allItems.CopyTo(displayedItems, 0);
        numDisplayedItems = allItems.Length;
    }

    private void updateDisplayedItems(ChangeEventArgs e)
    {
        int numItems = int.Parse(e.Value.ToString());
        if (numItems >= 0 && numItems <= 5)
        {
            numDisplayedItems = numItems;
        }
        displayedItems = allItems[..numDisplayedItems];
    }
}